<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. We use a variety of markdown and code cells to demonstrate things you can do using a Jupyter notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. sklearn
4. Seaborn
5. Matplotlib
6. Scipy

<table align='left'> <th>Data Science Tools </th>
<tr><td> Python </td></tr>
<tr><td> Excel </td></tr>
<tr><td> Tableau </td></tr>
<tr><td> Hadoop </td></tr>

</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60.0

3.3333333333333335

**Objectives:**
* List popular languages used in data science
* List common libraries used in data science
* Tabulate popular tools used in data science
* Demonstrate Jupyter notebook's capabilities in evaluating arithmetic expressions through Python

## Author
Narsi